p      {
    
    color:white;
}

/* Fonds de pages */

.jardin      {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background-image:url("jardin.jpg");
    position:absolute;
    z-index: 0;
    
}

.mars      {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background-image:url("mars_nasa.jpg");
    position:absolute;   
    background-repeat: no-repeat;
    background-size: cover;
}

.retro      {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background-image:url("retrospective.jpg");
    position:absolute;   
    background-repeat: no-repeat;
    background-size: cover;
}


.p2     {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    
    
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 135px;
}

.monet {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    width: 200%;
    font-size:100%;
    vertical-align:baseline;
    background-image:url("monet.jpg");
    height: 300%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 25s;
    transition-property: height;
    position: absolute;
    top: 0;
    left: 0;
    
}


.monet {
    animation-name: zoom;
    animation-duration: 25s;
    animation-direction: alternate;
    animation-iteration-count: 2;
    
       
}

@keyframes zoom {
    0% {height: 400%; width:  200%;}
    100%{height: 200%; width: 100%;}
}


/*éclairs*/


.flash   {
    
    width:100vw;
    height:100vw;
    background-image:url("eclair.jpg");
    display:none;
    z-index: 1000;
    position:absolute;
    opacity:70%;
    
}

/***** Textes***/


.boite  {
    
    
    background-color: whitesmoke;
    margin-left:15vw;
    margin-top:5vw;
    padding : 40px;
    z-index:2;
    width:50vw;
    opacity: 0.9;
    margin-bottom: 5vw;
    
    
    
}

.titre {
    
    background-color: #617866;
    margin-top: 5vw;
    margin-left: 15vw;
    padding-left : 40px;
    padding-top:5px;
    padding-bottom: 5px;
    width:50vw;
    opacity: 0.9;
    font-family: 'Gabriela', serif;
    font-size: 22px;
    color: white;
}

.titreRetro {
    
    background-color: #4dc9c7;
    margin-top: 5vw;
    margin-left: 15vw;
    padding-left : 40px;
    padding-top:5px;
    padding-bottom: 5px;
    width:50vw;
    opacity: 0.9;
    font-family: 'Gabriela', serif;
    font-size: 22px;
    color: white;
}


a.titreblanc {
    
    color: white;
    text-decoration: none;
}

.titre3 {
    
    background-color: #503778;
    margin-top: 5vw;
    margin-left: 15vw;
    padding-left : 40px;
    padding-top:5px;
    padding-bottom: 5px;
    width:50vw;
    opacity: 0.9;
    font-family: 'Gabriela', serif;
    font-size: 22px;
    color: white;
}

.titre4 {
    
    background-color: #c98763;
   margin-top: 5vw;
    margin-left: 15vw;
    padding-left : 40px;
    padding-top:5px;
    padding-bottom: 5px;
    width:50vw;
    opacity: 0.9;
    font-family: 'Gabriela', serif;
    font-size: 22px;
    color: white;
}

.texte {
   
    color: black;
    padding: 30 px;
    font-family: 'Roboto Slab', serif;
    font-weight: 200;
    font-size: 16px;
}

.suite {
   
    color: black;
    font-family: 'Roboto Slab', serif;
    font-weight: 200;
    font-size: 16px;
}




/*page video  */

* {
  box-sizing: border-box;
}

#videosaule {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.boitesaule {
    
    position: absolute;
    background-color:#617866;
    margin: 20vw;
    padding : 30px;
    z-index:2;
    width:50vw;
    
    
}


 /****Boutons play / pause / suite***/

.button1 {
  font-family: 'Gabriela', serif; 
  text-decoration: none;
    font-size: 16px;
    background-color:#617866;
    border:none;
    border-radius: 5px;
    color:white;
}

a.button1  {
  font-family: 'Gabriela', serif; 
  text-decoration: none;
    font-size: 16px;
    color:white;
}


.button3 {
  font-family: 'Gabriela', serif; 
  text-decoration: none;
    font-size: 16px;
    background-color:#503778;
    border:none;
    border-radius: 5px;
    color:white;
}

.button4 {
  font-family: 'Gabriela', serif; 
  text-decoration: none;
    font-size: 16px;
    background-color:#c98763;
    border:none;
    border-radius: 5px;
    color:white;
}





/***     Pied-de-page     ***/

.credits-link {
    color: white;
}


  .footer {
    background-color:#617866;
    padding:10px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    margin-top: 5vw;
    height: 135px;
        font-family: 'Gabriela', serif; 
    
}

.footer_3 {
    background-color:#503778;
    padding: 10px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    font-family: 'Gabriela', serif; 
    
}


.footer_4 {
    background-color:#c98763;
    padding: 10px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    font-family: 'Gabriela', serif; 

}

.footerRetro {
    background-color:#4dc9c7;
    padding: 10px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    font-family: 'Gabriela', serif; 

}

/*suite de texte à la page 1*/

div.suite{
    
    display:none;
    color: black;
    padding: 30 px;
    font-family: 'Gabriela', serif;
    
}


div.suite:target {
  display: block;
}

/*** Boutons pour changer de page**/

.changementPage{
    display: flex;
    background-color: inherit;
    margin-top: 15px;
    justify-content:space-between;
}

.changementPage1{
   
    display: flex;
        margin-top: 15px;
    justify-content:space-between;
}

.carreGauche {
    
    background-color: #617866;
    width:40px;
    height:40px;
    font-family: 'Gabriela', serif;
}


.carreDroite {
    background-color: #617866;
    width:40px;
    height:40px;
    font-family: 'Gabriela', serif;
}

.carreMilieu  {
    background-color: #617866;
    width:40px;
    height:40px;
    
    font-family: 'Gabriela', serif;
}

.carreMilieu3  {
    background-color: #503778;
    width:40px;
    height:40px;
    
    font-family: 'Gabriela', serif;
}

.carreMilieu4  {
    background-color: #c98763;
    width:40px;
    height:40px;
    
    font-family: 'Gabriela', serif;
}

.carreMilieuRetro  {
    background-color: inherit;
    width:40px;
    height:40px;
    
    font-family: 'Gabriela', serif;
}

.texteCarre {
    text-align:center;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    font-size: 30px;
    padding-top: 2px;
    font-family: 'Gabriela', serif;
}

.texteCarreRetro {
    text-align:center;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    font-size: 20px;
    padding-top: 2px;
    font-family: 'Gabriela', serif;
}

.carre_3Gauche {
    
    background-color: #503778;
    width:40px;
    height:40px;
    font-family: 'Gabriela', serif;
}

.carre_4Gauche {
    
    background-color: #c98763;
   width:40px;
    height:40px;
    font-family: 'Gabriela', serif;
}

.carre_4Droite {
    
    background-color: #c98763;
    width:40px;
    height:40px;
    font-family: 'Gabriela', serif;
}

.carreRetroGauche {
    
    background-color: #4dc9c7;
   width:auto;
    height:40px;
    font-family: 'Gabriela', serif;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
    padding-top: 5px;
}

.carreRetroDroite {
    
    background-color: #4dc9c7;
    width:auto;
    height:40px;
    font-family: 'Gabriela', serif;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
    padding-top: 5px;
}

.carre_3Droite {
    
    background-color: #503778;
    width:40px;
    height:40px;
    font-family: 'Gabriela', serif;
}

.droite { 
    
    text-align:right;
    }

